/* ================================ */
/* RESET CSS======================= */
/* ================================ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============================================= */
@font-face {
  font-family: KaushanScript;
  src: url("../fonts/KaushanScript-Regular.ttf") format("truetype"),
    url("../fonts/KaushanScript-Regular.woff") format("woff");
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-LightItalic.ttf") format("truetype"),
    url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto-Regular.woff") format("woff");
}

/* =====================BASE===================== */
body {
  font-family: Roboto;
  font-size: 16px;
}

/* ================================ */
/* HEADER========================== */
/* ================================ */
header {
  background-image: url("../images/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 10%;
}

.wrapper {
  width: 62.5%;
  margin: auto;
}
.top-header {
  padding-top: 28px;
  margin-bottom: 100px;
}
.top-header::after {
  content: "";
  display: block;
  clear: both;
}
.top-header .logo-area {
  display: inline-block;
  float: left;
}
.top-header nav {
  display: inline-block;
  float: right;
}
.top-header nav ul {
  display: flex;
  list-style: none;
}
.top-header nav ul li {
  margin-left: 40px;
}
.top-header nav ul li:first-child {
  margin-left: 0;
}
.top-header nav ul a {
  text-decoration: none;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 0;
  transition: all 0.1s;
}
.top-header nav ul a:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}
.middle-header {
  text-align: center;
}
.middle-header h2 {
  font-family: KaushanScript;
  font-size: 50px;
  color: #fff;
  margin-bottom: 30px;
}
.middle-header h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
}
header hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #fff;
  margin-top: 55px;
  margin-bottom: 40px;
}
.middle-header a {
  text-decoration: none;
  border: 3px solid #fff;
  padding: 12px 30px;
  display: inline-block;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.bottom-header {
  display: flex;
  padding: 100px 0 0 0;
}
.bottom-header .info-box span {
  font-family: Montserrat;
  font-weight: 700;
  padding-right: 5px;
}
.bottom-header .info-box {
  width: 25%;
  border-top: 3px solid #fff;
  margin-right: 30px;
  font-family: Montserrat;
  color: #fff;
  padding: 19px 0 27px 0;
  font-size: 18px;
}
.bottom-header .info-box:last-child {
  margin-right: 0;
}
.bottom-header > div::after {
  width: 30px;
  height: 4px;
  color: black;
}

/* ================================== */
/* SECTION1========================== */
/* ================================== */
.section1 {
  background: #fff;
}
.section1 .upper-area {
  padding: 90px 0;
  text-align: center;
}
.upper-area > h2 {
  font-family: KaushanScript;
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}
.upper-area h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;

  color: #333333;
}
.section1 hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #f38181;
  margin-top: 45px;
  margin-bottom: 30px;
}
.upper-area p {
  font-size: 15px;
  color: #999999;
}
.section1 .image-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.section1 .floating-image {
  position: relative;
  display: inline-block;
}
.section1 .floating-image .super-team {
  background-image: url("../images/sec-01-1.png");

  background-size: cover;
  padding: 15px 20px;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 280px;
  height: 180px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.super-team {
  display: inline-block;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

/* ================================== */
/* SECTION2========================== */
/* ================================== */
.section2 {
  background-color: #95e1d3;
}
.section2 .box {
  display: flex;
  justify-content: space-between;
}
.section2 .box .portfolio-box {
  padding: 80px 30px;
  text-align: center;
}
.section2 .portfolio-box span {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 72px;
  color: #fff;
}
.section2 .portfolio-box p {
  font-family: Montserrat;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}

/* ================================== */
/* SECTION3========================== */
/* ================================== */
.section3 .upper-area {
  padding: 90px 0;
  text-align: center;
}
.section3 .upper-area > hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #f38181;
  margin-top: 45px;
  margin-bottom: 30px;
}
.section3 .box {
  display: block;
  overflow: hidden;
}
.section3 .lower-area {
  padding-bottom: 70px;
}
.section3 .lower-area hr {
  margin: 40px 0;
}
.section3 .lower-area .subject-box {
  width: 33.3%;
  float: left;
}
.section3 .subject-box span {
  float: left;
  padding: 0 15px 0 0;
  color: #95e1d3;
  font-size: 30px;
  transition: all 0.7s;
}
.section3 .subject-box span:hover {
  color: #00a184;
}
.section3 .subject-box div {
  float: left;
  width: 80%;
}
.section3 .subject-box div h2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 18px;
}
.section3 .subject-box div p {
  color: #999999;
  font-size: 15px;
}

/* ================================== */
/* SECTION4========================== */
/* ================================== */
.section4 {
  background-image: url("../images/bg-img-sec-4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section4 .upper-area {
  padding: 90px 0;
  text-align: center;
}
.section4 .upper-area > hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #f38181;
  margin-top: 45px;
  margin-bottom: 30px;
}
.section4 .lower-area {
  text-align: center;
}
.section4 .lower-area .device {
  display: inline-block;
  position: relative;
}
.section4 .lower-area .device img.positioning {
  position: absolute;
  bottom: -58px;
  right: -88px;
}

/* ================================== */
/* SECTION5========================== */
/* ================================== */
.section5 {
  background: #fff;
}
.section5 .upper-area {
  padding: 90px 0;
  text-align: center;
}
.section5 hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #f38181;
  margin-top: 45px;
  margin-bottom: 30px;
}
.section5 .upper-area p {
  font-size: 15px;
  color: #999999;
}
.section5 .lower-area {
  padding-bottom: 45px;
}
.section5 .lower-area::after {
  content: "";
  display: block;
  clear: both;
}
.section5 .left-side {
  width: 49%;
  float: left;
}
.section5 .left-side img {
  width: 100%;
  opacity: 0.7;
  transition: all 0.7s;
}
.section5 .left-side img:hover {
  opacity: 1;
}
.section5 .right-side {
  width: 49%;
  float: right;
}
.section5 .right-side .photography {
  border: 2px solid #e5e5e5;
}
.section5 .right-side .top {
  border-bottom: 2px solid #e5e5e5;
  overflow: hidden;
  padding: 14px 18px;
  display: flex;
  align-items: center;
}
.section5 .right-side .top p {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  width: 85%;
}
.section5 .right-side .top span.first {
  color: #95e1d3;
  margin-right: 15px;
  font-size: 30px;
}
.section5 .right-side .top span.last {
  color: #cccccc;
  font-size: 25px;
  transition: all 0.7s;
}
.section5 .right-side .top span.last:hover {
  color: #8f8f8f;
}
.section5 .right-side .photography .text {
  padding: 15px;
}
.section5 .right-side .photography .text p {
  color: #999999;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
  border-right: 4px solid #e3e3e3;
}
.section5 .right-side .creativity {
  border: 2px solid #e5e5e5;
  overflow: hidden;
  padding: 14px 18px;
  display: flex;
  align-items: center;
}
.section5 .right-side .creativity p {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  width: 85%;
}
.section5 .right-side .creativity span.first {
  color: #95e1d3;
  margin-right: 15px;
  font-size: 30px;
}
.section5 .right-side .creativity span.last {
  color: #cccccc;
  font-size: 25px;
  transition: all 0.7s;
}
.section5 .right-side .creativity span.last:hover {
  color: #8f8f8f;
}
.section5 .right-side .web-design {
  border: 2px solid #e5e5e5;
  overflow: hidden;
  padding: 14px 18px;
  display: flex;
  align-items: center;
}
.section5 .right-side .web-design p {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  width: 85%;
}
.section5 .right-side .web-design span.first {
  color: #95e1d3;
  margin-right: 15px;
  font-size: 30px;
}
.section5 .right-side .web-design span.last {
  color: #cccccc;
  font-size: 25px;
  transition: all 0.7s;
}
.section5 .right-side .web-design span.last:hover {
  color: #8f8f8f;
}
/* ================================== */
/* SECTION6========================== */
/* ================================== */
.section6 {
  background: #f8f8f8;
  padding: 60px 0;
}
.section6 .wrapper {
  display: flex;
  align-items: center;
}
.section6 .left-arrow,
.right-arrow {
  color: #cccccc;
  padding: 56px 20px;
  font-size: 23px;
  transition: all 0.7s;
}
.section6 .left-arrow:hover,
.right-arrow:hover {
  color: #8f8f8f;
}
.section6 .message-box {
  color: #95e1d3;
  border: 3px solid #95e1d3;
  font-size: 46px;
  padding: 31px 31px;
}
.section6 .para {
  color: #999999;
  font-weight: 300;
  padding: 0px 14px 0 40px;
  font-size: 20px;
}
.section6 h2 {
  position: relative;
  font-family: KaushanScript;
  font-size: 24px;
  color: #333333;
  margin-top: 15px;
  padding-left: 64px;
}
.section6 h2::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: -1px;
  width: 60px;
  height: 12px;
  border-bottom: 3px solid #f38181;
}
/* ================================== */
/* SECTION7========================== */
/* ================================== */
.section7 {
  background: #fff;
}
.section7 .upper-area {
  padding: 90px 0;
  text-align: center;
}
.section7 hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #f38181;
  margin-top: 45px;
  margin-bottom: 30px;
}
.section7 .upper-area p {
  font-size: 15px;
  color: #999999;
}

.section7 .image-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.section7 .floating-image {
  position: relative;
  display: inline-block;
}
.section7 .floating-image .social-link {
  background-image: url("../images/sec-7-1.png");
  background-size: cover;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 280px;
  height: 350px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section7 .floating-image span {
  font-size: 33px;
  background: #fce38a;
  color: #f38181;
  width: 35px;
  height: 35px;
  margin: 0.6px;
  padding: 8px 8px;
  transition: all 0.7s;
}
.section7 .floating-image span:hover {
  background: #f38181;
  color: #fce38a;
}
.section7 .image-box h2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #333333;
  margin-bottom: 8px;
  margin-top: 20px;
}
.section7 .image-box p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: #999999;
}

/* ================================== */
/* SECTION8========================== */
/* ================================== */
.section8 {
  background: #f8f8f8;
  padding: 60px 0;
}
.section8 > .wrapper img {
  width: 100%;
}

/* ================================== */
/* SECTION9========================== */
/* ================================== */
.section9 {
  background: #fff;
}
.section9 .upper-area {
  padding: 90px 0;
  text-align: center;
}
.section9 hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #f38181;
  margin-top: 45px;
  margin-bottom: 30px;
}
.section9 .upper-area p {
  font-size: 15px;
  color: #999999;
}

/* ================================== */
/* SECTION10========================== */
/* ================================== */
/* .section10 .img-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.section10 .img-gallery img {
  width: 379.8px;
}
.section10 .item3 {
  grid-area: 1 / 3 / 3 / 4;
} */

/* ================================== */
/* SECTION11========================== */
/* ================================== */
.section11 {
  background: #f8f8f8;
  padding: 60px 0;
}
.section11 .wrapper {
  display: flex;
  align-items: center;
}
.section11 .left-arrow,
.right-arrow {
  color: #cccccc;
  padding: 56px 20px;
  font-size: 23px;
  transition: all 0.7s;
}
.section11 .left-arrow:hover {
  color: #8f8f8f;
}
.section11 .image-radius > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.section11 .para {
  color: #999999;
  font-weight: 300;
  padding: 0px 14px 0 40px;
  font-size: 20px;
}
.section11 h2 {
  position: relative;
  font-family: KaushanScript;
  font-size: 24px;
  color: #333333;
  margin-top: 15px;
  padding-left: 64px;
}
.section11 h2::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: -1px;
  width: 60px;
  height: 12px;
  border-bottom: 3px solid #f38181;
}

/* ================================== */
/* SECTION12========================== */
/* ================================== */
.section12 {
  background-image: url("../images/sec-12.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.section12 .upper-area {
  padding: 90px 0;
  text-align: center;
}
.section12 .upper-area > hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #f38181;
  margin-top: 45px;
  margin-bottom: 30px;
}

.section12 .lower-area {
  padding-bottom: 70px;
}
.section12 .lower-area::after {
  content: "";
  display: block;
  clear: both;
}
.section12 .lower-area .subject-box {
  width: 50%;
  float: left;
}
.section12 .lower-area .subject-box:nth-child(1),
.section12 .lower-area .subject-box:nth-child(2) {
  margin-bottom: 50px;
}
.section12 .subject-box .image {
  float: left;
  display: inline-block;
}
.section12 .subject-box span {
  float: left;
  margin-right: 20px;
}
.section12 .subject-box div {
  float: left;
  width: 70%;
}
.section12 .subject-box div h2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 10px;
}
.section12 .subject-box div h3 {
  font-size: 15px;
  font-weight: 300;
  color: #333333;
  margin-bottom: 35px;
}
.section12 .subject-box div h3::before {
  content: "";
  width: 45px;
  height: 25px;
  border-bottom: 3px solid #f38181;
  position: absolute;
}
.section12 .subject-box div p {
  color: #999999;
  font-size: 15px;
}
.section12 .lower-area img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* ================================== */
/* SECTION13========================== */
/* ================================== */
.section13 {
  background: #fff;
}
.section13 .upper-area {
  padding: 90px 0;
  text-align: center;
}
.section13 .upper-area hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #f38181;
  margin-top: 45px;
  margin-bottom: 30px;
}
.section13 .image-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.section13 .image-box .positioning {
  display: inline-block;
  position: relative;
}
.section13 .image-box .positioning > div {
  background-image: url("../images/sec-13-bg.png");
  display: inline-block;
  background-size: cover;
  padding: 15px 20px;
  position: absolute;
  left: -11px;
  bottom: 11px;
}
.section13 .image-box .positioning > div .date {
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  margin-bottom: 5px;
}
.section13 .image-box .positioning > div .month {
  display: block;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}
.section13 .image-box h2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 8px;
  margin-top: 20px;
}
.section13 .image-box p {
  font-family: Roboto;
  font-size: 15px;
  color: #999999;
}
.section13 .image-box hr {
  width: 93%;
  margin: 23px auto;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #e5e5e5;
}
.section13 .image-box .views {
  color: #999999;
  font-weight: 300;
  font-size: 15px;
  margin-right: 15px;
}
.section13 .image-box .views::before {
  content: "\f06e";
  font-family: "Font Awesome 5 Free";
  color: #95e1d3;
  font-size: 19px;
  padding-right: 8px;
}
.section13 .image-box .comments {
  color: #999999;
  font-weight: 300;
  font-size: 15px;
}
.section13 .image-box .comments::before {
  content: "\f4ad";
  font-family: "Font Awesome 5 Free";
  color: #95e1d3;
  font-size: 19px;
  padding-right: 8px;
}

/* ================================== */
/* SECTION14========================== */
/* ================================== */
.section14 {
  background-image: url("../images/sec-14.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.section14 .centeralize {
  text-align: center;
  padding: 54px 0;
}
.section14 .centeralize span {
  color: #f38181;
  font-size: 22px;
}
.section14 .centeralize h1 {
  color: #f38181;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 22px;
  padding: 10px 0;
}
.section14 .centeralize hr {
  width: 60px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #f38181;
  margin-bottom: 30px;
}

/* ================================== */
/* SECTION15========================== */
/* ================================== */
.section15 {
  background: #f8f8f8;
  padding: 50px 0;
  position: relative;
}
.section15 > .wrapper {
  display: flex;
  justify-content: space-between;
}
.section15 .box {
  width: 32%;
}
.section15 .box1 h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 35px;
}
.section15 .box1 p {
  font-size: 15px;
  color: #999999;
  margin-bottom: 35px;
  line-height: 1.3;
  word-spacing: 2px;
}
.section15 .box1 .follower span:first-child {
  font-family: Montserrat;
  font-weight: 700;
  color: #333333;
  font-size: 18px;
  padding-right: 4px;
}
.section15 .box1 .follower span:last-child {
  font-family: Montserrat;

  color: #333333;
  font-size: 14px;
}
.section15 .box1 hr {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #e5e5e5;
  margin: 15px 0;
}
.section15 .box1 .social-link {
  display: flex;
  margin-bottom: 30px;
}
.section15 .box1 .social-link h3 {
  display: inline-block;
  margin-right: 14px;
  font-size: 15px;
  font-weight: 300;
  color: #999999;
}
.section15 .box1 .social-link ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 57%;
}
.section15 .box1 .social-link ul li {
}
.section15 .box1 .social-link ul li a {
  text-decoration: none;
  color: #95e1d3;
  transition: 0.7s;
}
.section15 .box1 .social-link ul li a:hover {
  color: #00a184;
}
.section15 .box1 form {
  display: flex;
}
.section15 .box1 form input[type="email"] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #e7e7e7;
  outline: none;
}
.section15 .box1 form input[type="button"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e7e7e7;
  background: #95e1d3;
  font-family: Montserrat;
  font-weight: 700;
  color: #fff;
  outline: none;
}
.section15 .box2 h2,
.box3 h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  margin-bottom: 35px;
  margin-top: 30px;
}
.section15 .box2 .news img {
  width: 90px;
  height: 60px;
}
.section15 .box2 .news1,
.news2,
.news3 {
  display: flex;
  margin-bottom: 51px;
}
.section15 .box2 .news3 {
  margin-bottom: 0;
}
.section15 .box2 .news .article-news p {
  font-family: Montserrat;
  font-size: 12px;
  color: #333333;
  font-weight: 700;
  padding: 8px 0px 3px 14px;
}
.section15 .box2 .news .article-news span {
  font-weight: 300;
  font-size: 13px;
  color: #999999;
  padding: 0px 0px 14px 14px;
}
.section15 .box3 .gallery-box {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
}
.section15 .box3 .gallery-box img {
  width: 88px;
  height: 88px;
  opacity: 0.7;
  transition: all 0.7s;
}
.section15 .box3 .gallery-box img:hover {
  opacity: 1;
}
.section15 .box3 p {
  font-weight: 300;
  font-size: 14px;
  color: #333333;
  margin-top: 6px;
}
.section15 > hr {
  width: 62.5%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #e5e5e5;
  position: absolute;
  bottom: 0px;
  left: 18.75%;
}

/* ================================== */
/* FOOTER============================ */
/* ================================== */
footer {
  padding: 20px 0px;
  background: #f8f8f8;
}
footer p {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #333333;
}
footer p span:first-child {
  color: #646464;
}
footer p span:last-child {
  color: #f38181;
}
